* {
    font-family: Garamond;
    color: white;
}

header {
    background-color: Indigo;
    text-align: center;
    padding: 2px;
}

.lewa, .prawa {
    background-color: Indigo;
    height: 600px;
}

.srodkowa {
    background-color: black;
    height: 600px;
    overflow: scroll;
}

footer {
    background-color: Indigo;
    height: 150px;
    clear: both;
}

.punkty {
    background-color: Tomato;
    border-radius: 50%;
    padding: 5px;
}

li {
    padding: 5px;
}

.gra {
    display: inline-block;
    text-align: center;
    padding: 3px;
}

input {
    margin: 10px;
    color: Indigo;
}


@media (min-width: 800px) {
    .lewa, .prawa {
        width: 20%;
        float: left;
    }

    .srodkowa {
        width: 60%;
        float: left;
    }
}

@media (max-width: 799px) {
    .lewa, .srodkowa, .prawa {
        width: 100%;
        float: none;
    }
}